{
  "log": {
    "_recordingName": "fetch-teams",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "44a30db77ac5ece5963a552102aa3dde",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.mongodb.com/api/atlas/v2/orgs"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 106,
            "text": "{\n  \"error\" : 401,\n  \"reason\" : \"Unauthorized\",\n  \"detail\" : \"You are not authorized for this resource.\"\n}"
          },
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Digest realm=\"MMS Public API\", domain=\"\", nonce=\"iRq77AC/l81IwLp0OXcV484mla7nXGLd\", algorithm=MD5, qop=\"auth\", stale=false"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 282,
      },
      {
        "_id": "44a30db77ac5ece5963a552102aa3dde",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.mongodb.com/api/atlas/v2/orgs"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.atlas.2023-01-01+json;charset=utf-8",
            "size": 198,
            "text": "{\"links\":[{\"href\":\"https://cloud.mongodb.com/api/atlas/v2/orgs?pageNum=1&itemsPerPage=100\",\"rel\":\"self\"}],\"results\":[{\"id\":\"64ecb5ca726c787590a9aaea\",\"isDeleted\":false,\"links\":[{\"href\":\"https://cloud.mongodb.com/api/atlas/v2/orgs/64ecb5ca726c787590a9aaea\",\"rel\":\"self\"}],\"name\":\"JupiterOne\"}],\"totalCount\":1}"
          },
          "headers": [
            {
              "name": "x-mongodb-service-version",
              "value": "gitHash=5a0ed38680064ed1c59c8664dc57bddb56801a0e; versionString=v20230823"
            },
            {
              "name": "content-type",
              "value": "application/vnd.atlas.2023-01-01+json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 246,
      },
      {
        "_id": "23ab34[...]
