{
  "log": {
    "_recordingName": "fetch-projects",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ec108fa8edf91e6693d2be2766cf6ba6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "pageNum",
              "value": "1"
            },
            {
              "name": "itemsPerPage",
              "value": "100"
            }
          ],
          "url": "https://cloud.mongodb.com/api/atlas/v2/orgs?pageNum=1&itemsPerPage=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 106,
            "text": "{\n  \"error\" : 401,\n  \"reason\" : \"Unauthorized\",\n  \"detail\" : \"You are not authorized for this resource.\"\n}"
          },
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Digest realm=\"MMS Public API\", domain=\"\", nonce=\"lBCdFVeE5sBK7MM71nDMU9TbYSNWxsJD\", algorithm=MD5, qop=\"auth\", stale=false"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 180,
      },
      {
        "_id": "ec108fa8edf91e6693d2be2766cf6ba6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "pageNum",
              "value": "1"
            },
            {
              "name": "itemsPerPage",
              "value": "100"
            }
          ],
          "url": "https://cloud.mongodb.com/api/atlas/v2/orgs?pageNum=1&itemsPerPage=100"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.atlas.2023-01-01+json;charset=utf-8",
            "size": 198,
            "text": "{\"links\":[{\"href\":\"https://cloud.mongodb.com/api/atlas/v2/orgs?pageNum=1&itemsPerPage=100\",\"rel\":\"self\"}],\"results\":[{\"id\":\"64ecb5ca726c787590a9aaea\",\"isDeleted\":false,\"links\":[{\"href\":\"https://cloud.mongodb.com/api/atlas/v2/orgs/64ecb5ca726c787590a9aaea\",\"rel\":\"self\"}],\"name\":\"JupiterOne\"}],\"totalCount\":1}"
          },
          "headers": [
            {
              "name": "x-mongodb-service-version",
              "value": "gitHash=3063e0b830305ad7aabaf8d072fc0fb0f53a62cb; versionString=v20230823"
            },
            {
              "name": "content-type",
              "value": "application/vnd.atlas.2023-01-01+json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 144,
      },
      {
        "_id": "5d5c4d[...]
