{
  "log": {
    "_recordingName": "fetch-clusters",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "44a30db77ac5ece5963a552102aa3dde",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.mongodb.com/api/atlas/v2/orgs"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 106,
            "text": "{\n  \"error\" : 401,\n  \"reason\" : \"Unauthorized\",\n  \"detail\" : \"You are not authorized for this resource.\"\n}"
          },
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Digest realm=\"MMS Public API\", domain=\"\", nonce=\"GiJtC5i6eqVzxAvT1cgaTESUbbJCz/WR\", algorithm=MD5, qop=\"auth\", stale=false"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 120,
      },
      {
        "_id": "44a30db77ac5ece5963a552102aa3dde",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.mongodb.com/api/atlas/v2/orgs"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.atlas.2023-01-01+json;charset=utf-8",
            "size": 198,
            "text": "{\"links\":[{\"href\":\"https://cloud.mongodb.com/api/atlas/v2/orgs?pageNum=1&itemsPerPage=100\",\"rel\":\"self\"}],\"results\":[{\"id\":\"64ecb5ca726c787590a9aaea\",\"isDeleted\":false,\"links\":[{\"href\":\"https://cloud.mongodb.com/api/atlas/v2/orgs/64ecb5ca726c787590a9aaea\",\"rel\":\"self\"}],\"name\":\"JupiterOne\"}],\"totalCount\":1}"
          },
          "headers": [
            {
              "name": "x-mongodb-service-version",
              "value": "gitHash=459e2ca969318eef9c343b67028f34fd8014e9e5; versionString=v20230823"
            },
            {
              "name": "content-type",
              "value": "application/vnd.atlas.2023-01-01+json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 51,
      },
      {
        "_id": "a6e9b4d29b165beac3149597b520e38e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.mongodb.com/api/atlas/v2/groups"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.atlas.2023-01-01+json;charset=utf-8",
            "size": 292,
            "text": "{\"links\":[{\"href\":\"https://cloud.mongodb.com/api/atlas/v2/groups?pageNum=1&itemsPerPage=100\",\"rel\":\"self\"}],\"results\":[{\"clusterCount\":1,\"created\":\"2023-08-28T14:57:21Z\",\"id\":\"64ecb5ca726c787590a9aaf3\",\"links\":[{\"href\":\"https://cloud.mongodb.com/api/atlas/v2/groups/64ecb5ca726c787590a9aaf3\",\"rel\":\"self\"}],\"name\":\"Project 0\",\"orgId\":\"64ecb5ca726c787590a9aaea\"},{\"clusterCount\":1,\"created\":\"2023-08-30T20:53:29Z\",\"id\":\"64efac48409f7b418e2e1300\",\"links\":[{\"href\":\"https://cloud.mongodb.com/api/atlas/v2/groups/64efac48409f7b418e2e1300\",\"rel\":\"self\"}],\"name\":\"Star Trek: Deep Space 9\",\"orgId\":\"64ecb5ca726c787590a9aaea\"}],\"totalCount\":2}"
          },
          "headers": [
            {
              "name": "x-mongodb-service-version",
              "value": "gitHash=459e2ca969318eef9c343b67028f34fd[...]
