{
  "log": {
    "_recordingName": "validate-invocation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "242f0052a7aab6cb609895edd1c8f614",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.mongodb.com/api/atlas/v2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 106,
            "text": "{\n  \"error\" : 401,\n  \"reason\" : \"Unauthorized\",\n  \"detail\" : \"You are not authorized for this resource.\"\n}"
          },
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Digest realm=\"MMS Public API\", domain=\"\", nonce=\"3+SgEyf3TF8EhddYwzslpjfyvYuesHeX\", algorithm=MD5, qop=\"auth\", stale=false"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 165,
      },
      {
        "_id": "242f0052a7aab6cb609895edd1c8f614",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.mongodb.com/api/atlas/v2"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.atlas.2023-01-01+json;charset=utf-8",
            "size": 293,
            "text": "{\"apiKey\":{\"accessList\":[],\"id\":\"64ecbb1a2a19136bc98f00d0\",\"publicKey\":\"oadqwouo\",\"roles\":[{\"orgId\":\"64ecb5ca726c787590a9aaea\",\"roleName\":\"ORG_READ_ONLY\"}]},\"appName\":\"MongoDB Atlas\",\"build\":\"3a88d2b27d7ccdf59eb5fffc8428ef3ddf56cb91\",\"links\":[{\"href\":\"https://cloud.mongodb.com/api/atlas/v2\",\"rel\":\"self\"},{\"href\":\"https://cloud.mongodb.com/api/atlas/v2/orgs/64ecb5ca726c787590a9aaea/apiKeys/64ecbb1a2a19136bc98f00d0\",\"rel\":\"https://cloud.mongodb.com/apiKeys\"}],\"throttling\":false}"
          },
          "headers": [
            {
              "name": "x-mongodb-service-version",
              "value": "gitHash=3a88d2b27d7ccdf59eb5fffc8428ef3ddf56cb91; versionString=v20230823"
            },
            {
              "name": "content-type",
              "value": "application/vnd.atlas.2023-01-01+json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 90,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
