{
  "log": {
    "_recordingName": "fails-validatating-invocation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "242f0052a7aab6cb609895edd1c8f614",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.mongodb.com/api/atlas/v2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 106,
            "text": "{\n  \"error\" : 401,\n  \"reason\" : \"Unauthorized\",\n  \"detail\" : \"You are not authorized for this resource.\"\n}"
          },
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Digest realm=\"MMS Public API\", domain=\"\", nonce=\"lw4PBS6Akv6iy0BbVXW81BaTLkvw5UPp\", algorithm=MD5, qop=\"auth\", stale=false"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 80,
      },
      {
        "_id": "242f0052a7aab6cb609895edd1c8f614",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.mongodb.com/api/atlas/v2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 106,
            "text": "{\n  \"error\" : 401,\n  \"reason\" : \"Unauthorized\",\n  \"detail\" : \"You are not authorized for this resource.\"\n}"
          },
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Digest realm=\"MMS Public API\", domain=\"\", nonce=\"9S+bApzE8m4M+/f+U9cP1a/47DRAY+3K\", algorithm=MD5, qop=\"auth\", stale=false"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 80,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
