{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "44a30db77ac5ece5963a552102aa3dde",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.mongodb.com/api/atlas/v2/orgs"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 106,
            "text": "{\n  \"error\" : 401,\n  \"reason\" : \"Unauthorized\",\n  \"detail\" : \"You are not authorized for this resource.\"\n}"
          },
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Digest realm=\"MMS Public API\", domain=\"\", nonce=\"A1+LVPqd1+2pBz2D00WUpDk+HR0aS0mX\", algorithm=MD5, qop=\"auth\", stale=false"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 157,
      },
      {
        "_id": "44a30db77ac5ece5963a552102aa3dde",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.mongodb.com/api/atlas/v2/orgs"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.atlas.2023-01-01+json;charset=utf-8",
            "size": 198,
            "text": "{\"links\":[{\"href\":\"https://cloud.mongodb.com/api/atlas/v2/orgs?pageNum=1&itemsPerPage=100\",\"rel\":\"self\"}],\"results\":[{\"id\":\"64ecb5ca726c787590a9aaea\",\"isDeleted\":false,\"links\":[{\"href\":\"https://cloud.mongodb.com/api/atlas/v2/orgs/64ecb5ca726c787590a9aaea\",\"rel\":\"self\"}],\"name\":\"JupiterOne\"}],\"totalCount\":1}"
          },
          "headers": [
            {
              "name": "x-mongodb-service-version",
              "value": "gitHash=459e2ca969318eef9c343b67028f34fd8014e9e5; versionString=v20230823"
            },
            {
              "name": "content-type",
              "value": "application/vnd.atlas.2023-01-01+json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 112,
      },
      {
        "_id": "23ab34[...]
